doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Noom
        main
            div#roomCreateCont
                form#roomCreateForm(action="") 
                    label(for="roomName") Room Name
                    input#roomName(type="text" placeholder="Create Room")
                    button submit
            div#videoChatCont
                div#myFaceCont
                    video#myFace(src="" width="400" height="300" autoplay playsinLine) 
                    div 
                        button#micBtn MIC MUTE
                        button#videoBtn VIDEO OFF
                    select#camSelect
                div#friendFaceCont
                    video#friendFace(src="" width="400" height="300" autoplay playsinLine) 
        script(src="/socket.io/socket.io.js") 
        script(src="/public/app.js") 